/*   GENERAL   */

body{
	font-family: Apercu-Light;
	color: white;
	font-size: 18px;
	height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    position: absolute;
    width: 100%;
}

a{text-decoration: none;}

video{
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.videowrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.blackoverlay{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 102;
 opacity: 0.2;
background-color: black;	
}







/*   TOP   */


.logotop{
	display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.logobottom{
	display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.subtitle{
	font-family: Apercu-Light;
	color: white;
	font-size: 26px;
	text-align: center;
	margin-top: 45px;
	color: #ffffff;
	/*background-color: #393939;*/
}









/*   CENTERPIECE   */




.centerpiece{
	/*width: 65%;*/
	width: 850px;
	/*width: 90 vw;*/
	/*height: 60%;*/
	vertical-align: middle;
  	z-index: 105;
  	position: absolute;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 15%;
  	/*background-color: red;*/
  	/*display: inline-block;*/
}



.block{
	width: 280px;
	height: 60px;
	margin-top: 3vw;
	display: inline-block;
	vertical-align: middle;  
	/*background-color: orange;*/
}


.circle{
	border-radius: 50%;
	width: 70px;
	height: 70px; 
	z-index: 100;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
}

.circleone{ background: url(img/info_circle_01.png); }

.circletwo{ background: url(img/info_circle_02.png); }

.circlethree{ background: url(img/info_circle_03.png); }


.text {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
	font-size: 16px;
}


.button{
	padding: 14px 0px;
	color:black;
	width: 190px;
	background-color: white;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	font-family: Apercu;
	margin: 0 auto;
	margin-top: 7%;
	cursor: pointer;
}


.examples{
	width: 150px;
	height: 65px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 200;
	bottom: 0;
	cursor: pointer;
}

.examples span { font-size: 15px; }


.arrow{
width: 0; 
height: 0; 
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid white;
margin: 0 auto;
margin-top: 12px;
}





.subpageheader{
	color: #383838;
	margin-top: 60px;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
}

.subpageheader span {
	font-size: 18px;
}








.section{
	border: 1px solid #e3e3e3;
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	position: relative;

}

.pageonewrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
}


.pageone{
	height: 100%;
	width: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
}


.pagetwo{
	height: 840px;
	width: 100%;
	background-color: #f3f3f3;
	display: inline-block;
}






.pagethree{
	height: 840px;
	width: 100%;
	background-color: #ffffff;
	display: inline-block;
}



.actiontweettext{
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	color: black;
	text-align: center;
	font-size: 32px;
	margin-top: 80px;
	color: #393939;
}




.arrowdown{
	width: 60px;
	height: 60px;
	/*background: url(img/arrowdown.png)*/
	margin: 0 auto;
	margin-top:40px;
	/*margin-bottom: 20px;*/
	opacity: 0.9;
}


.actiontweet{
	width: 650px;
	height: 135px;
		/*display: inline-block;*/
	background-color: white;
	border: 1px solid #dbdbdb;
	text-align: left;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;  -khtml-border-radius: 6px; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;

}


.animtext{
 -webkit-transform: font-size 0.18s ease-in ;
 -moz-transition: font-size 0.18s ease-in ;
  -ms-transition: font-size 0.18s ease-in ;
   -o-transition: font-size 0.18s ease-in ;
      transition: font-size 0.18s ease-in ;
      font-size: 45px;
      color: #ffac33;
}



.profilepiclarge{
	width: 65px;
	height: 65px;
	display: inline-block;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-khtml-border-radius: 8px; 
	background-color: gray;
	margin: 24px 24px;
	float: left;
	background: url(img/kanye2.png);

}


.actiontweetname{
	color: #393939;
	font-size: 16px;
	display: inline-block;
	float: left;
	margin-top: 25px;	
	font-weight: bold;
}

.actiontweetname span{
		font-weight: normal;
		margin-left: 2px;
}



.actiontweetcontent{
	color: #393939;
	font-size: 26px;
	display: inline-block;
	float: left;
	margin-top: 2px;
}

.actiontweetfooter{
	/*background: url(img/tweetfooter.png)*/
	display: inline-block;
	float: left;
	/*margin-top: 10px;*/
	 position: absolute;
	 bottom: 10px;
	 left: 110px;


}


.fave {
  width: 70px;
  height: 50px;
  background: url(img/twitter_fave.png) no-repeat;
  background-position: 0 0;
  display: inline-block;
  float: right;
  position: absolute;
  bottom: 0px;
  left: 190px;

}

.anim {
  background-position: -3519px 0;
  -webkit-transition: background 1s steps(55);
     -moz-transition: background 1s steps(55);
      -ms-transition: background 1s steps(55);
       -o-transition: background 1s steps(55);
          transition: background 1s steps(55);
}









/*  FOOTER  */


.footerleft{
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 13px;
  color: white;
  z-index: 200;
  display: inline-block;
}

.credits{
	display: inline-block;
	color: white;
	margin-right: 6px;
}

.credits a {color: white;}
.credits a:hover {border-bottom: 1px solid white;}


.deactivate{
	margin-left: 4px;
	display: inline-block;
	color: white;
}

.deactivate a {color: white;}
.deactivate:hover {border-bottom: 1px solid white;}



.footerright{
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 200;
  display: inline-block;
  width: 190px;
  height: 23px;
}

.facebook{
	display: inline-block;
	/*background-color: blue;*/
	/*float: left;*/
	position: absolute;
		top: 0px;
		left: 0px;

}

.twitter{
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 0px;
}













/*  MOBILE  */


@media screen and (max-width: 750px) {


body {
	font-size: 25px;

}

.logotop {
	width: 280px;
	height: 76px;
}

.logobottom {
	width: 300px;
	height: 66px;
}

.subtitle{
	/*font-size: 2.5vw;*/
	font-size: 22px;
}



}


















/*  FONTS  */



@font-face {
  font-family: 'Apercu';
  src: url('src/Apercu.eot'); /* IE9 Compat Modes */
  src: url('src/Apercu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('src/Apercu.woff') format('woff'), /* Modern Browsers */
       url('src/Apercu.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('src/Apercu.svg#773d68d038fe7c6746af87cbb1789f49') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Apercu-Light';
  src: url('src/Apercu-Light.eot'); /* IE9 Compat Modes */
  src: url('src/Apercu-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('src/Apercu-Light.woff') format('woff'), /* Modern Browsers */
       url('src/Apercu-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('src/Apercu-Light.svg#e84b7a8b5afb81f260ea81bfcd555715') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}



















