


/*   TWEET  */


#contentcontainer{
	width: 652px;
	height: 587px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}


#tweetswrapper{
width: 1956px;
height: 585px;
position: relative;
left: 0px;
transition: left .5s ease-in-out;
}

.tweetframe {
	width: 650px;
	height: 585px;
	background-color: white;
	border: 1px solid #dbdbdb;
	text-align: left;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;  
	-khtml-border-radius: 6px; 
	font-family: "HelveticaNeue-Light", 
	"Helvetica Neue Light", "Helvetica Neue", 
	Helvetica, Arial, "Lucida Grande", sans-serif;
	/*font-weight: 300;*/
}

.tweetcontent {
	float: left;
	width: 650px;
	height: 585px;
    white-space: normal;
    background-repeat: no-repeat;
}

.profile {
	margin: 20px 30px 15px 30px; 
	height: 52px;
	width: 200px;
}

.profilepic {
	width: 52px;
	height: 42px;
	padding-top: 10px;
	float: left;
	display: inline-block;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; 
	-khtml-border-radius: 7px; 
	background: url(../img/profile_pic_02.jpg);
}

.name {
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	display: inline;
	display: inline-block;
	margin-left: 12px;
	margin-top: 4px;
	color: #353535;
}

.handle {
	text-align: left;
	display: inline-block;
	margin-left: 12px;
	color: #9d9d9d;
}

.tweettext {
	font-size: 26px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 300;
	color: #353535;
}


.tweetimg{
	width: 585px;
	height: 330px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-khtml-border-radius: 6px; 
	position: relative;
	overflow: hidden;
	z-index: 100;
}

.poem01{background: url(../img/examplepoem_02.jpg);}
.poem02{ background: url(../img/examplepoem_04.png);}
.poem03{ background: url(../img/examplepoem_03.png);}





/*.tweetimg:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -100;
	background: url(img/examplepoem_02.jpg);
}*/


.line {
	width: 585px;
	margin: 0 auto;
	height: 15px;
	border-bottom: 1px solid #dbdbdb;
}

.tweetbottom {
	width: 585px;
	height: 45px;
	text-align: left;
	margin: 0 auto;
}


.sub {
	text-transform: uppercase;
	font-size: 18px;
	color: #9d9d9d;
}

.rt {
	padding-top: 11px;
	padding-left: 15px;
	float: left;
}

.fav {
	height: 36px;
	width: 130px;
	padding-top: 11px;
	padding-right: 15px;
	float: left;
	border-right: 1px solid #dbdbdb;
}







.line2 {
	width: 585px;
	margin: 0 auto;
	height: 15px;
	border-top: 1px solid #dbdbdb;
}

.date {
	text-transform: uppercase;
	font-size: 12px;
	color: #9d9d9d;
	margin-left: 31px;
}












/*   DOTS  */



#navLinks {
    text-align: center;
    width: 550px;
    height: 40px;
    /*background-color: red;*/
    margin: 0 auto;
    cursor: pointer;
    margin-top: 8px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 8px;
            list-style: none;
            cursor: pointer;
            background-color: #d1d1d1;
            padding: 5px;
            -moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			-khtml-border-radius: 50%;
            /*border: #a9a9a9 1px solid;*/
        }
            #navLinks ul li:hover {
                background-color: #ffffff;
            }
            #navLinks ul li.active {
                background-color: #848484;
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: #ffffff;
                    color: #FFFFFF;
                }





/*   ARROWS  */


.line-arrow {
    position: relative;
    overflow: hidden;
    display: inline-block;
    top: -43%;
    font-size: 10px; /*set the size for arrow*/
    width: 4em;
	height: 4em;
    margin-top: -2em;
    cursor: pointer;
}

.line-arrow.left {
    border-top: 2px solid #a9a9a9;
	 border-left: 2px solid #a9a9a9;
    transform: rotate(-54deg) skew(-20deg);
    left: 30px;
    float: left;
}

.line-arrow.right {
  	border-top: 2px solid #a9a9a9;
	border-right: 2px solid #a9a9a9;
    transform: rotate(54deg) skew(20deg);
    right: 30px;
    float: right;
}

.line-arrow:active,
.line-arrow.active {
    border-width: 2px;
}






/*  TABLET  */

@media screen and (max-width: 768px) {

.line-arrow{display: none;}

#tweetswrapper{
	font-family: "HelveticaNeue-Light", 
	"Helvetica Neue Light", "Helvetica Neue", 
	Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.name{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	margin-left: 14px;
}

} /*  --> END TABLET  */










/*  PHONE  */


@media screen and (max-width: 480px) {





#contentcontainer{
	width: 92vw;
	height: 100vw;
    overflow: visible;
    margin: 0 auto;
    /*display: none;*/
}


#tweetswrapper{
width: 92vw;
height: 100vw;
position: relative;
left: 0px;
margin-top: 4vh;
}




.tweetframe {
	width: 91vw;
	height: 100vw;
	border: 1px solid #dbdbdb;
	text-align: left;
	margin: 0 auto;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; 
	-khtml-border-radius: 7px; 
	/*background-color: red;*/
}

.tweetcontent {
    white-space: normal;
    background-repeat: no-repeat;
    /*background-color: red;*/
}


.profile {
	margin: 15px 15px; 
	/*height: 52px;*/
	/*width: 200px;*/
	/*background-color: blue;*/
}

.profilepic {
	width: 52px;
	height: 42px;
	padding-top: 10px;
	float: left;
	display: inline-block;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; 
	-khtml-border-radius: 7px; 
	background: url(../img/profile_pic_02.jpg);
}


.name {
	font-size: 3.7vw;
	font-weight: bold;
	text-align: left;
	/*line-height: 20px;*/
	/*display: inline;*/
	display: block;
	position: relative;
	left: 12px;
	top: 4px;
	/*margin-top: 10px;*/
	margin-bottom: 0.1vh;
}

.handle {
	font-size: 3.7vw;
	text-align: left;
	/*display: inline-block;*/
	margin-left: 12px;

}

.tweettext {
	font-size: 4vw;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 4vw;
	font-weight: 300;
	color: #353535;
}


.tweetimg{
	width: 82vw;
	height: 47vw;
	/*margin: 0 auto;*/
	float: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-khtml-border-radius: 6px; 
	position: relative;
	overflow: hidden;
	z-index: 1001;
	margin-left: 15px;
	background-color: red;

}



.poem01{
	background: url(../img/poem01@2x_mobile.jpg)no-repeat left center;
	background-size: 82vw 47vw;

	/*display: none;*/
}

/*.poem02{ background: url(../img/examplepoem_04.png)no-repeat center;
	background-size: 250px 141px;
}
.poem03{ background: url(../img/examplepoem_03.png)no-repeat center;
background-size: 250px 141px;
}


*/

#navLinks, .itemlink, #tweettwo, #tweetthree, 
.sideselector, .tweetimg.tweettwo, .tweetimg.tweetthree {
	display: none;
}





.line {
	width: 82vw;
	/*margin: 0 auto;*/
	height: 0px;
	/*position: relative;*/
	float: left;
	/*background-color: red;*/
	border-bottom: 1px solid #dbdbdb;
	display: inline-block;
	margin-left: 15px;
	/*background-color: !;*/
	padding-top: 1.5vh;
	/*top: 8vh;*/


	/*#dbdbdb*/
}

.tweetbottom {
	/*width: 585px;*/
	/*height: 45px;*/
	text-align: left;
	margin: 0 auto;
	/*background-color: red;*/
	width: 82vw;
	height: 8vw;
}


.sub {
	/*display: inline-block;*/
	text-transform: uppercase;
	
	color: #9d9d9d;
	/*background-color: orange;*/
	padding-top: 2vw;
	height: 3.5vh;

	font-size: 3.6vw;
	width: 30vw;
}



.rt {
	/*padding-left: 2vw;*/
	/*float: left;*/
	/*font-size: 4vw;*/
}

.fav {
	
	/*height: 36px;*/
	/*width: 130px;*/
	
	/*padding-right: 10px;*/
	/*float: left;*/
	/*display: inline-block;*/
	/*float: left;*/
	/*border-right: 1px solid #dbdbdb;*/

}


.line2 {
	width: 82vw;
	margin: 0 auto;
	/*border-top: 1px solid red;*/
	display: inline-block;
	margin-left: 15px;
	height: 0px;
	float: left;
}

.date {
	text-transform: uppercase;
	font-size: 2.7vw;
	color: #9d9d9d;
	margin-left: 15px;
	display: inline-block;
	float: left;
	padding-top: 1vh;
}








.line, .tweetbottom, .sub, .rt, .fav, .line2, .date {
	/*display: none;*/
}











}



































